extends layout

block content
    h1= title
    p Welcome to #{title}
    table(style='border:solid 1px pink')
        thead
            th 序号
            th 姓名
            th 年龄
        each user,index in users
            tr
                td #{index}
                td #{user.name}
                td #{user.age}
